body {
 
    box-sizing: border-box;
    margin: 0;

}

.banner {
    background-size: ;
    background-color: #4ea0ff;
    background-image: url("img/pattern.png");
    height: 180px;
    background-repeat: repeat-x;
    position: relative;

}

#logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40%;
}